* {
  box-sizing: border-box;
}
.grid {
  display: grid;
  width: 100vw;
  align-items: center;
  grid-template-columns: repeat(8, 12.5vw);
}

.square {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12.5vw;
  width: 12.5vw;
  background-color: #f4f4f4;
  border: 1px solid #333;
}

.black {
  background-color: rgb(181, 136, 99);
}

.white {
  background-color: rgb(241, 217, 181);
}

@media(min-width: 801px) {
  .grid {
    margin: 10px auto;
    width: 44vw;
    grid-template-columns: repeat(8, 5.5vw);
    border: none;
  }

  .square {
    height: 5.5vw;
    width: 5.5vw;
  }

  i {
    font-style: normal;
    font-size: 6vw;
  }
}

/* for  tablet and landscape mode*/
@media(min-width: 501px) and (max-width: 800px), (max-height: 400px) {
  .grid {
    margin: 50px auto;
    width: 80vw;
    grid-template-columns: repeat(8, 10vw);
    border: none;
  }

  .square {
    height: 10vw;
    width: 10vw;
  }

  i {
    font-style: normal;
    font-size: 11vw;
  }
}

/* for mobile */
@media(max-width: 500px) {
  .grid {
    margin: 50px auto;
    width: 80vw;
    grid-template-columns: repeat(8, 10vw);
    border: none;
  }

  .square {
    height: 10vw;
    width: 10vw;
  }

  /* body {
      height: 100vh;
      background-color: #333;
  } */

  i {
    font-style: normal;
    font-size: 11vw;
}
}
