<div class="container">
  <div class="grid">
    <div class="square black">
      <i>&#9812;</i>
    </div>
    <div class="square white"></div>
    <div class="square blackßß"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
    <div class="square white"></div>
    <div class="square black"></div>
  </div>
</div>
