<div class="container ">
  <div class="mt-4 header">
    <h1 >Tic Tac Toe Game</h1>
  </div>
  <hr>
  <div class="row offset-5">
    <div class="col-sm-1 border-right border-bottom" (click)="getClicked(1)">
      <h2 *ngIf="clickedList[0] == 0">#</h2>
      <h2 *ngIf="clickedList[0] == 1" [innerText]="getSign(1)"></h2>
    </div>
    <div class="col-sm-1 border-right border-bottom border-left" (click)="getClicked(2)">
      <h2 *ngIf="clickedList[1] == 0">#</h2>
      <h2 *ngIf="clickedList[1] == 1" [innerText]="getSign(2)" ></h2>
    </div>
    <div class="col-sm-1 border-bottom border-left" (click)="getClicked(3)" >
      <h2 *ngIf="clickedList[2] == 0">#</h2>
      <h2 *ngIf="clickedList[2] == 1" [innerText]="getSign(3)"></h2>
    </div>
  </div>
  <div class="row offset-5">
    <div class="col-sm-1 border-right border-bottom" (click)="getClicked(4)">
      <h2 *ngIf="clickedList[3] == 0">#</h2>
      <h2 *ngIf="clickedList[3] == 1" [innerText]="getSign(4)"></h2>
    </div>
    <div class="col-sm-1 border" (click)="getClicked(5)">
      <h2 *ngIf="clickedList[4] == 0">#</h2>
      <h2 *ngIf="clickedList[4] == 1" [innerText]="getSign(5)"></h2>
    </div>
    <div class="col-sm-1 border-top border-left border-bottom" (click)="getClicked(6)">
      <h2 *ngIf="clickedList[5] == 0">#</h2>
      <h2 *ngIf="clickedList[5] == 1" [innerText]="getSign(6)"></h2>
    </div>
  </div>
  <div class="row offset-5">
    <div class="col-sm-1 border-top border-right" (click)="getClicked(7)">
      <h2 *ngIf="clickedList[6] == 0">#</h2>
      <h2 *ngIf="clickedList[6] == 1" [innerText]="getSign(7)"></h2>
    </div>
    <div class="col-sm-1 border-left border-top border-right" (click)="getClicked(8)">
      <h2 *ngIf="clickedList[7] == 0">#</h2>
      <h2 *ngIf="clickedList[7] == 1" [innerText]="getSign(8)"></h2>
    </div>
    <div class="col-sm-1 border-left border-top" (click)="getClicked(9)">
      <h2 *ngIf="clickedList[8] == 0">#</h2>
      <h2 *ngIf="clickedList[8] == 1" [innerText]="getSign(9)"></h2>
    </div>
  </div>
  <br>
  <br>
  <div class="mt-10 header">
    <h1 *ngIf="solved">Player {{ whowin }} have won !!!</h1> 
    <h1 *ngIf="!solved && turn == 9"> Game Tied!!</h1>  
  </div>
</div>  