.header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}
.align {
    align-items: center;
}
td {
    width: 100px;
    height: 100px;
}
table {
    margin: auto;
}

.size {
    width: 100%;
    height: 100%;
}