<div class="container text-center">
  <div class="mt-4 header">
    <h1>Tic Tac Toe</h1>
  </div>
  <hr>
  <div class="row size " *ngIf="grid.length == 0">
    <div class="col-xs-12 offset-5">
      <label for="gridSize " class="header">Enter the size of Grid</label>
      <input type="number" id="gridSize" class="form-control" [(ngModel)]="gridSize">
      <br>
      <button type="submit" (click)="intializeGrid()" class="btn btn-success ">Play Game</button>
    </div>
  </div>
  <div *ngIf="grid.length != 0">
    <div class="row size">
      <table>
        <tr *ngFor="let i of grid; let row = index">
          <td *ngFor="let j of grid[0]; let col = index">
            <div (click)="getclicked(row, col) " class="text-center size border"
              [ngStyle]="{backgroundColor: getColor(row, col)}">
              <h1 class="mt-4" [innerText]="getSign(row, col)"></h1>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="header row mt-5 ">
      <h1 *ngIf="whowin == 1" class="offset-4 ">Player one won !!!</h1>
      <h1 *ngIf="whowin == 0" class="offset-4"> Player two won !!!</h1>
      <h1 *ngIf="whowin == -1 && turn == gridSize * gridSize " class="offset-4"> Game Tied!!!</h1>
    </div>
  </div>
  <br>
  <p class="text-center header">Note: Refresh the page to Restart Game</p>
</div>